In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
df = pd.read_csv("C:/Users/VISHAL S PANCHANGE/Downloads/Q9_a.csv")

In [6]:
df.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [7]:
df.skew()

Index    0.000000
speed   -0.117510
dist     0.806895
dtype: float64

In [8]:
df.kurt()

Index   -1.200000
speed   -0.508994
dist     0.405053
dtype: float64