In [19]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [3]:
df = pd.read_csv("C:/Users/VISHAL S PANCHANGE/Downloads/Costomer+OrderForm.csv")
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [7]:
df['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [9]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [10]:
df['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [11]:
df['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [12]:
df['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [13]:
data = pd.DataFrame({'Error Free':[271,267,269,280],'Defective':[29,33,31,20]})
data

   Error Free  Defective
0         271         29
1         267         33
2         269         31
3         280         20

In [14]:
chi2_contingency(data)

(3.8589606858203545,
 0.2771020991233144,
 3,
 array([[271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25]]))

In [15]:
# Compare p_value with Î± = 0.05
p =chi2_contingency(data)[1]

In [16]:
p

0.2771020991233144

In [17]:
stats.chi.ppf(0.95,df=3)

2.7954834829151074

In [22]:
alpha = 0.05
prob=1-alpha
critical = chi2.ppf(prob, 3)
critical

7.814727903251179

In [ ]:
accept the null hypothesis